@tailwind base;
@tailwind components;
@tailwind utilities;



/* DraggableCard.css */


  
/* .app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: larger;
    font-weight: bold; 
    padding: 20px;
} */
  .card-container{
    display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns with equal width */
  gap: 10px; /* Gap between grid items */
  

    justify-content: center;
    margin: 10px 10px;
  }

  .draggable-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    cursor: move;
  }



  .box {
    position: relative; /* Ensure the box is positioned relative to its parent */
    background-color: #ccc; /* Background color of the box */
    border: 1px solid #000; /* Border for the box */
  }
  
  .box::before {
    content: ''; /* Necessary for pseudo-elements */
    position: absolute; /* Position the overlay absolutely within the box */
    top: 0;
    left: 0;
    width: 100%; /* Cover the entire width of the box */
    height: 100%; /* Cover the entire height of the box */
    background-color: rgba(0, 0, 0, 1); /* Black overlay with 50% opacity */
    z-index: 1; /* Ensure the overlay is above the box content */
  }
  